<html>
  <head>
      <link rel="stylesheet" href='/static/main.css' />
   <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
   </head>
  <body>
  <a HREF="/">To The Stations</a>
      <h1>"The Wireless" Welcomes You</h1>

<h2>The Current Alarm List.</h2>

<form method="POST">
<table border=1 frame=void rules=rows>
        <tr>
           <th>DEL&nbsp;</th> <th>Name</th><th>URL</th><th>Date Start</th> <th>Date End</th><th>Time Start</th><th>Duration</th><th>Weekday</th>
        </tr>
{% for dict_item in(play_list) %}
      <tr>
            <td><input type="checkbox" name="checks" id={{loop.index}} value={{loop.index}}>{{loop.index}}</td>
            <td>{{dict_item.name}}</td>
            <td>{{dict_item.url}}</td>
            <td>{{dict_item.d_start}}</td>
            <td>{{dict_item.d_end}}</td>
            <td>{{dict_item.t_start}}</td>
            <td>{{dict_item.duration}}</td>
            <td>{{dict_item.weekday}}</td>
      <tr/>
{% endfor %}
</table>

<p>
To add a new item fill in the boxes below.
<br/>Not all fields are required: * Are compulsory.
<br/>
Checked items will be removed from the playlist on SUBMIT.
<br/>
To modify an item, add a new one(use copy-paste) then remove the old one. Yea I know.
<!-- Note this needs a better way to EDIT items -->
</p>
    <table>
    <caption><b>Edit Stations</b></caption>
    <tr><td>Name of station:*</td> <td><input name="name"></td></tr><br/>
    <tr><td>URL of station:*</td> <td><input name="URL"></td></tr><br/>
    <tr>
        <td>Start Time* HH:MM:</td> <td><input type="time" name="t_start"></td>
        <td>Duration* HH:MM:</td> <td><input type="time" name="duration"></td>
        <td><label for="cars">Weekday:</label>
        <select name="weekday" id="weekday">
          <option value="">Any</option>
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
          <option value="Saturday">Saturday</option>
          <option value="Sunday">Sunday</option>
        </select></td>

<!--
<td>Weekday:</td> <td><input name="weekday">
-->
    </tr><br/>
    <tr>
        <td>Start Date:</td> <td><input type="date" name="d_start">
        <td>End Date:</td> <td><input type="date" name="d_end">

    </tr>
    <tr>
        <td>Genre:</td> <td><input name="genre"></td>
    </tr><br/>
    </table>
    <br/>
    <input value="SUBMIT" name ='edit' type="submit"><br/><br/>
    <input value="SAVE" name="save" type="submit"> To disk. Only when are really really sure!

</form>
<p>&nbsp;</p>
<p>&nbsp;</p>
<small>Thank you for using this service.</small>
</body>
</html>
