<html>
  <head>
      <link rel="stylesheet" href='/static/main.css' />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
  <a HREF="/alarms">To The Alarms</a>
      <h1>"The Wireless" Welcomes You</h1>

<h2>The Current Station List.</h2>

<form method="POST">
<table rules="rows">
        <tr>
           <th>DEL&nbsp;</th> <th>Name</th><th class="url"> URL </th><th>Genre</th><th>Comment</th>
        </tr>
{% for dict_item in(play_list) %}
      <tr>
            <td><input type="checkbox" name="checks" id={{loop.index}} value={{loop.index}}>{{loop.index}}</td>
            <td>{{dict_item.name}}</td>
            <td>{{dict_item.url}}</td>
            <td>{{dict_item.genre}}</td>
            <td>{{dict_item.comment}}</td>
      <tr/>
{% endfor %}
</table>

<p>
To add a new item fill in the boxes below.
<br/>Not all fields are required: *only when adding new programs.
<br/>
Checked items will be removed from the playlist on SUBMIT.
<br/>
To modify an item, add a new one(use copy-paste) then remove the old one. Yea I know.
<!-- Note this needs a better way to EDIT items -->
</p>

    <table>
    <caption><b>Edit Stations</b></caption>
    <tr><td>Name of station:*</td> <td><input name="name"></td></tr><br/>
    <tr><td>URL of station:*</td> <td><input name="URL"></td></tr><br/>
    <td>Genre:</td> <td><input name="genre"></td></tr><br/>
    </table>
    <br/>
    <input value="SUBMIT" name ='edit' type="submit"><br/><br/>
    <input value="SAVE" name="save" type="submit"> To disk. Only when are really really sure!

</form>
<p>&nbsp;</p>
<p>&nbsp;</p>
Thank you for using this service.
</body>
</html>
