<html>
  <head>
      <link rel="stylesheet" href='/static/main.css' />
  </head>
  <body>
    <h1>WiFi Setup Page</h1>
	{{message}}
	<form method="POST">
<table>
    <caption><b>Input Your WiFi Details</b></caption>
    <tr><td>WiFi Name:</td> <td><input name="ap"></td></tr><br/>
    <tr><td>WiFi Password</td> <td><input name="passwd"></td></tr><br/>
</table>
<input value="SUBMIT" name ='wifi' type="submit"><br/><br/>
	</form>
	</body>
</html>
